<%- include('header') %>




<div class="container  mt-5 row">
    <div class="col-md-8">
        <h1>About</h1>
        <p>当サイトはmontapによって運営されています。</p>
        <h3>このサイトの名前について</h3>
        <p>自分は今まで、</p>
        <p></p> 
    </div>
    <div class="col-md-4">
    <div class="sidebar-fixed" id="sidebar">
        <h3 class="sidebar-fixed"></h3>
    </div>
    </div>
    
</div>



<%- include('footer') %>