<%- include('header') %>


<h1>お問い合わせ</h1>
<p>メールでご連絡いただくか、以下のお問い合わせフォームよりご送信ください。</p>
<a href="mailto:thinklogged@gmail.com">メールアドレス：thinklogged@gmail.com</a>
<p>お問い合わせ内容の確認には、時間を要する場合があります。ご了承ください。</p>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScnQcoFIork8cgaE9x0KSumIpDSbW1RxeXKWJKGO-EYOYQZuQ/viewform?embedded=true" width="640" height="757" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>


<%- include('footer') %>