<%- include('header') %>

<div class="container  mt-5 row">
<div class="col-md-8">
<h1>プライバシーポリシー</h1>

<p>本プライバシーポリシーは、当サイトにおける個人情報の取り扱いに関する方針を詳述したものです。当サイトを利用することにより、本プライバシーポリシーに同意したものとみなされます。</p>
<hr class="mt-3 mb-3">
<h2>Google Analyticsについて</h2>
<p>当サイトでは、ユーザーの利用状況を分析し、サービス向上を図るためにGoogle Analyticsを使用しています。Google Analyticsはクッキー（Cookie）を使用し、ユーザーのIPアドレス、訪問時間、閲覧したページなどの情報を収集します。これにより、統計データを作成し、サイト改善に役立てます。Google Analyticsの詳細については、GoogleのWebページをご覧ください。</p>
<h2 class="mt-3 mb-3">免責事項</h2>
<p>当サイトに掲載されている情報は、可能な限り正確かつ最新のものであるよう努めていますが、その正確性、完全性、信頼性について一切保証するものではありません。利用者が当サイトの情報に基づいて行動した結果について、当サイト運営者は一切の責任を負いません。自己責任でご利用いただきますようお願いいたします。また、当サイトに記載されているリンク先で起こった不具合や問題などにつきましても、当サイトの管理者は一切の責任を負いませんので、予めご了承ください。</p>
<h2 class="mt-3 mb-3">リンクフリー</h2>
<p>当サイトへのリンクは、原則として自由に行っていただけます。ただし、以下の場合にはリンクをお断りすることがあります：</p>
        <ul>
            <li>法律に違反する内容や、公序良俗に反する内容を含むサイトからのリンク</li>
            <li>フレーム内に当サイトのコンテンツを表示するなど、当サイトであることが不明確になるリンク</li>
            <li>その他、当サイトの運営者が不適切と判断するリンク</li>
        </ul>
<h2 class="mt-3 mb-3">記事の作成について</h2>
<p>当サイトの記事作成には、生成AIを使用することがあります。生成AIを使用する場合でも、すべてのコンテンツは最終的に人間の手によって編集され、情報の整合性を確認しています。しかし、生成されたコンテンツに誤りが含まれる可能性があることをご了承ください。利用者は自己責任で情報を確認・利用してください。</p>
<h2 class="mt-3 mb-3">個人情報の取り扱い</h2>
<p>当サイトでは、問い合わせフォームやコメント欄を通じて、利用者から個人情報を収集することがあります。収集した個人情報は、以下の目的で使用されます：</p>
    <ul>
        <li>問い合わせに対する回答や情報提供</li>
        <li>サービス向上のためのアンケート</li>
        <li>その他、当サイトの運営に必要な業務</li>
    </ul>
<p>利用者の個人情報は、法令に基づく場合を除き、第三者に提供することはありません。</p>
<h2 class="mt-3 mb-3">クッキーの使用</h2>
<p>当サイトでは、ユーザーの利便性向上やサイトの運営のためにクッキーを使用しています。クッキーは、ブラウザの設定で拒否することができますが、その場合、当サイトの一部機能が利用できなくなることがあります。</p>

</div>

<div class="col-md-4">
<div class="sidebar-fixed" id="sidebar">
    <h3 class="sidebar-fixed">リンク集</h3>
</div>
</div>
</div>
</div>

<%- include('footer') %>

