<%- include('header') %>


<h1>サイトマップ</h1>
<div class="container mt-5">
    <h1 class="mb-4">サイトマップ</h1>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="/" class="text-decoration-none">ホーム</a></h5>
                <p class="card-text">リンク: /</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="/articles" class="text-decoration-none">すべての記事一覧</a></h5>
                <p class="card-text">リンク: /articles</p>
                <p class="card-text"><a href="/articles/:tag" class="text-decoration-none">タグごとの記事一覧</a></p>
                <p class="card-text">リンク: /articles/:tag</p>
                <p class="card-text"><a href="/article/:id" class="text-decoration-none">記事</a></p>
                <p class="card-text">リンク: /article/:id</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="/about" class="text-decoration-none">私・このサイトについて</a></h5>
                <p class="card-text">リンク: /about</p>
            </div>
        </div>
    </div>
    <div class="card-deck mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="/policy" class="text-decoration-none">プライバシーポリシー</a></h5>
                <p class="card-text">リンク: /policy</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="/contact" class="text-decoration-none">お問い合わせ</a></h5>
                <p class="card-text">リンク: /contact</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="/sitemap" class="text-decoration-none">サイトマップ</a></h5>
                <p class="card-text">リンク: /sitemap</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="/error" class="text-decoration-none">エラーページ</a></h5>
                <p class="card-text">リンク: /error</p>
            </div>
        </div>
    </div>



<%- include('footer') %>